* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: white;
  background: url(./background.jpg);
  background-size: cover;
}

.canvasWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

canvas {
  border: 30px solid #e80000;
  border-radius: 10px;
  /* Set the width and height to half the actual size so it doesn't look pixelated */
  width: 800px;
  height: 500px;
  background: white;
}

canvas.shake {
  animation: shake 0.5s linear 1;
  -webkit-animation: shake 0.5s linear 1;
}

.buttons .shake {
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  border: none;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
